/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin:0;
    padding:0;
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 13px;
}

.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table{
    margin-top: 15px;
    font-size: 12px;
}
.el-pagination{
    margin-top: 15px;
}
/* .el-cascader-menu {
    height: 300px;
} */
.el-steps{
  margin: 15px 0px;  
}

.el-step__title {
    font-size: 12px;
}
.quill-editor{
    height: 260px;
}